/* Talks */

body.single-talk {
    
    header.entry-header {
        display: none;
    }
    
    section {
        padding: 0;
    }
    
    .talk-speaker {
        font-size: 1.2rem;
    }
    
}